@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --cyan: hsl(178, 100%, 50%);
    --cyan-soft: hsla(178, 100%, 50%, 0.6);
    --blue-soft: hsl(215, 51%, 70%);
    --blue-main-bg: hsl(217, 54%, 11%);
    --blue-card-bg: hsl(216, 50%, 16%);
    --blue-line: hsl(215, 32%, 27%);
    --white-soft: hsl(0, 0%, 60%);
    --font-light: 300;
    --font-regular: 400;
    --font-semibold: 600;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    letter-spacing: .2px;
}

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:hover {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--blue-main-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.cardWrap {
    min-width: 300px;
    width: 360px;
    height: auto;
    background-color: var(--blue-card-bg);
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
}

.imgWrap {
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
    font-size: 0;
    position: relative;
}

.imgWrap:hover .previewWrap {
    background-color: var(--cyan-soft);
    visibility: visible;
}

.previewWrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--cyan);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.previewWrap>img {
    width: 50px;
}

h1 {
    font-size: 1.3rem;
    color: white;
    margin: 24px 0 12px;
}

h1:hover {
    color: var(--cyan);
}

p {
    color: var(--white-soft);
    font-weight: var(--font-light);
}

.statusWrap {
    width: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid var(--blue-line);
}

.etheriumWrap {
    display: flex;
    align-items: center;
    color: var(--cyan);
}

.etheriumWrap>img {
    width: 12px;
    margin-right: 8px;
}

.daysWrap {
    display: flex;
    align-items: center;
    color: var(--blue-soft);
}

.daysWrap>img {
    width: 15px;
    height: auto;
    margin-right: 8px;
}

.footerWrap {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0 0;
    color: var(--white-soft);
}

.footerWrap>img {
    width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 16px;
}

#userFullName {
    color: white;
}

#userFullName:hover {
    color: var(--cyan);
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    color: var(--white-soft);
}

.attribution a {
    color: hsl(228, 45%, 44%);
}